@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <!-- Core CSS -->
    <link rel="stylesheet" href="~/Content/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Content/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/Content/vendors/iconfonts/simple-line-icon/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/Content/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/Content/vendors/css/vendor.bundle.addons.css">
    <link href="~/Content/vendors/iconfonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css" rel="stylesheet" />
    <!-- plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Content/css/style.css">
</head>
<body>

<div class="form-group">
    @if (ViewBag.SMsg != null)
    {
        <div class="col-md-offset-2 col-md-10" style="color:green">
            @ViewBag.SMsg
        </div>
    }
    @if (ViewBag.FMsg != null)
    {
        <div class="col-md-offset-2 col-md-10" style="color:red">
            @ViewBag.FMsg
        </div>
    }

</div>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper auth p-0 theme-two">
                <div class="row d-flex align-items-stretch">
                    <div class="col-md-4 banner-section d-none d-md-flex align-items-stretch justify-content-center">
                        <div class="slide-content bg-2">
                        </div>
                    </div>
                    <div class="col-12 col-md-8 h-100 bg-white">
                        <div class="auto-form-wrapper d-flex align-items-center justify-content-center flex-column">
                            <div class="nav-get-started">
                                <p>Already have an account?</p>
                                <a class="btn get-started-btn" href="@Url.Action("Login", "Login")">SIGN IN</a>
                            </div>
                        @using (Html.BeginForm("Register", "Login", new {@id = "form"}))
                        {
                            <h3 class="mr-auto">Register</h3>
                            <p class="mb-5 mr-auto">Enter your details below.</p>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="mdi mdi-account-outline"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="UserName" name="UserName">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="mdi mdi-lock-outline"></i></span>
                                    </div>
                                    <input type="password" class="form-control" placeholder="Password" name="Password" id="Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="mdi mdi-lock-outline"></i></span>
                                    </div>
                                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <select class="form-control" name="StatusId" id="StatusId">
                                    <option value="">--Select Status--</option>
                                    <option value="1">Active</option>
                                    <option value="0">InActive</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary submit-btn" type="submit">SIGN UP</button>
                            </div>
                            <div class="wrapper mt-5 text-gray">
                                <p class="footer-text">Copyright © 2018 Bootstrapdash. All rights reserved.</p>
                                <ul class="auth-footer text-gray">
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Cookie Policy</a></li>
                                </ul>
                            </div>
                        }
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>


<!-- plugins:js -->
    <script src="~/Content/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/Content/vendors/js/vendor.bundle.addons.js"></script>
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="~/Content/js/off-canvas.js"></script>
    <script src="~/Content/js/hoverable-collapse.js"></script>
    <script src="~/Content/js/misc.js"></script>
    <script src="~/Content/js/settings.js"></script>
<script src="~/Content/js/todolist.js"></script>
<!-- Custom js for this page-->
<script src="~/Content/js/form-validation.js"></script>
<script src="~/Content/js/bt-maxLength.js"></script>
<!-- End custom js for this page-->
</body>
</html>